<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="UTF-8">
	<title>JInvent- Websocket, 期貨 API, Android App 及 Windows 客製化程式 </title>
	<meta name="description=" content="以群益API 下載即時股票, 期貨的 tick 資料. 利用 websocket 即時呈現於網頁. ">
	<link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div id="logo">
				<a href="/static/index.html"><img src="/static/images/logo_back.png" alt="LOGO"></a>
			</div>
			<ul id="navigation">
				<li class="selected">
					<a href="/static/index.html">首頁</a>
				</li>
				<li>
					<a href="/static/Stock.html">股票程式</a>
				</li>
				<li>
					<a href="/static/android.html">藍芽/NFC</a>
				</li>
				<li>
					<a href="/static/windows.html">程式客製化</a>
				</li>

				<li>
					<a href="websocket.html">Websocket範例</a>
				</li>
				<li>
					<a href="/static/contact.html">聯絡我們</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="contents">
		<div id="adbox">
			<img src="/static/images/thought.jpg" alt="Img">
			<p>
				我們專致於三個領域的程式開發:<br>
				1. 利用 API 下載每一筆交易所的 Ticktime 資料, 包含外期 (芝加哥交易所等) 及台期 (大小台, 股票) 的資料下載與程式自動下單的客製化. 並利用 Websocket 將即時資訊呈現於網頁中.<br>
				2. Android 平台的 App 開發. 目前已與數個關於 Bluetooth Low Energy 及 NFC 智慧鎖的相關應用.<br>
				3. Windows / Linux 平台的程式客製化. 包含資料庫, 網路蜘蛛人, 圖形辨識及 Offic 自動化等應用.<br>
			</p>
		</div>
		<div id="featured">
			<ul>
				<li>
					<a href="/static/Stock.html"><img src="/static/images/stock.jpg" alt="Img"></a>
					<p>
						及時股票資訊
					</p>
				</li>
				<li>
					<a href="/static/android.html"><img src="/static/images/android.jpg" alt="Img"></a>
					<p>
						Android App (Bluetooth Low Energy / NFC)
					</p>
				</li>
				<li>
					<a href="/static/windows.html"><img src="/static/images/programming.jpg" alt="Img"></a>
					<p>
						Windows / Linux 的程式客製化
					</p>
				</li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<div id="connect">

		</div>
		<p>
			 All Rights Reserved.
		</p>
	</div>
</body>
</html>